@import '@/scss/globals';

.topLevelLink {
    text-decoration: none;
}

.cardLink {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $accent-color;
    padding: 10px;
    margin-bottom: 12px;
    margin-right: 10px;
    width: 150px;
    height: 50px;
    background-color: $white;
    border-radius: $global-border-radius;
    box-shadow: $global-box-shadow;
    font-family: $main-font;
    font-size: $font-normal;

    /*@include media-small {
        width: 100%;
        height: 50px;
    }*/
    &:hover {
        cursor: pointer;
        background: $accent-color;
        color: $white;
    }
}