@import '@/scss/globals';

.sessionInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid $accent-color;

    .sessionData {
        min-width: $season-card-width;
        position: relative;
        display: grid;
        grid-template-areas:
            'week winner'
            'track winner'
            'date winner';

        .winner {
            grid-area: winner;
            font-size: $font-xxlarge;
            align-self: center;
        }

        .week {
            grid-area: week;
        }

        .track {
            grid-area: track;
        }

        .date {
            grid-area: date;
        }
    }

    .week {
        font-size: $font-xsmall;
        border: 1px solid $accent-color;
        background-color: $accent-color;
        border-radius: $global-tight-radius;
        color: $white;
        padding: 1px 5px;
        width: 40px;
        text-align: center;

        &:hover {
            background-color: $white;
            color: $accent-color;
        }

        /*@include media-small {
            left: -45px;
            top: 30px;
        }*/
    }

    .sof,
    .points,
    .laps,
    .total,
    .led,
    .start,
    .finish {
        text-align: center;
        min-width: 75px;
        font-family: $secondary-font;
        font-size: $font-xxxlarge;
    }

    @for $i from 1 through $max-position {
        .p#{$i} {
            @include positionColors($i);
        }
    }
}